{% extends 'base.html' %}
{% load my_filters %}
{% load static %}

{% block content %}

{% include 'messages.html' %}

<section class="section mysection gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Bemor</h2>
                    <div class="divider mx-auto my-4"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table-hover">
                    <tr>
                        <td width="150">FISH:</td>
                        <td>{{bemor.fio}}</td>
                    </tr>
                    <tr>
                        <td>Tashhis:</td>
                        <td>{{bemor.yosh}}</td>
                    </tr>
                    <tr>
                        <td>Izoh:</td>
                        <td>{% if bemor.pol == 1 %}
                            erkak
                            {%else%}
                            ayol
                            {%endif%}
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</section>

{% endblock %}