{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'messages.html' %}

<section class="section mysection gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Gepatit B virusidan davolanish</h2>
                    <div class="divider mx-auto my-4"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <p>Majburiy kasalxonada davolanish. Murakkab usulda o'tkaziladi:
                </p>
                <p>1. kun tartibi;
                </p>
                <p>2. №5 parhez;
                </p>
                <p>3, parenteral detoksifikatsiya;
                </p>
                <p>4. Alomatlarga qarab.Og'ir holatlarda glyukokortikosteroidlar prednizonni kuniga 40-60 mg gacha.Suvli - elektrolitlar muvozanatini tiklash uchun hipokalemiyada panangin, qushqo'nmas.Antispazmodiklar:no-shpa, eufilin. Pastki ichak rezorbsiyasida antibiotik neomitsin. Xolestazning aniq belgilari bo'lsa, ursodeoksixol kislotasi (urosan, ursofalk) buyuriladi.
                </p>
                <h3><span class="mw-headline" id="Oldini_olish.">Oldini olish.</span></h3>
                <p>Immunizatsiya-eng samarali profilaktika usuli hisoblanadi. 1982-yilda biologik preparat sifatida HBV ga qarshi tijorat vaktsinasining paydo bo'lishi ushbu infektsiyaga qarshi samarali kurashish imkonini berdi.Qozog'iston Respublikasida HBV ga qarshi emlashga qarshi milliy emlashni kalendar rejalashtirish 1992-yilda joriy etilgan. HBV ga qarshi emlash amalga oshiriladi.
                </p>
                <p>1. yangi tug'ilgan chaqaloqlar;
                </p>
                <p>2. qon bilan ishlaydigan tibbiyot xodimlari;
                </p>
                <p>3. qon qabul qiluvchilar (gemodializ, gematologiya, buyrak transplantatsiyasi markazi);
                </p>
                <p>4. oliy tibbiyot markazlarida, talabalar.
                </p>
                <p>HBV ning vaktsina profilaktikasi HB antigenini o'z ichiga olgan antigen vaktsinasi bilan amalga oshiriladi.Ushbu vaktsina bir necha joylarda plazma AOK qilinadi.Shimoliy Koreyani Janubiy Koreya va Xitoy,DNK rekombinant vaksinasini esa Belgiya,Xitoy,Kuba,Fransiya,Yaponiya, Shveytsariya va AQSh ishlab chiqaradi.Emlash kursi 3 ta mushak ichiga in'ektsiyadan iborat.Yangi tug'ilgan chaqaloqlarda, tug'ilgandan keyin 24 soat ichida tug'ruqxonada 1 ta. DPT bilan 8 haftadan keyin (2 oy) 2. DPT bilan 16 haftadan keyin (4 oy) 3. Katta yoshdagi bolalar va kattalar uchun emlash rejasi:
                </p>
                <p>1. birinchi emlash;
                </p>
                <p>2. Birinchi emlashdan keyin 2 oy o'tgach;
                </p>
                <p>3. Birinchi emlashdan keyin 6 oy.
                </p>
                <p>HBV vaktsinasi BCG,DPT,qizamiq va parotitga qarshi vaktsinani jonli va ta'sirlangan polivaktsinatsiya bilan birgalikda berilishi mumkin.Boshqa vaktsinalarni faqat 1 shprits bilan aralashtirmang.
                </p>
            </div>
        </div>
    </div>
</section>


{% endblock %}