{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'messages.html' %}

<section class="section mysection gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Gepatit B virusi</h2>
                    <div class="divider mx-auto my-4"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <figure style="float: right;" typeof="mw:File/Thumb">
                    <!-- <img src="//upload.wikimedia.org/wikipedia/commons/thumb/5/55/Hepatitis_B_virus_01.jpg/300px-Hepatitis_B_virus_01.jpg" decoding="async" width="300" height="198" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/55/Hepatitis_B_virus_01.jpg/450px-Hepatitis_B_virus_01.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/55/Hepatitis_B_virus_01.jpg/600px-Hepatitis_B_virus_01.jpg 2x" data-file-width="3045" data-file-height="2005" /> -->
                    <img src="{% static 'assets/images/virus.jpg' %}" decoding="async" width="300" height="198" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/55/Hepatitis_B_virus_01.jpg/450px-Hepatitis_B_virus_01.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/55/Hepatitis_B_virus_01.jpg/600px-Hepatitis_B_virus_01.jpg 2x" data-file-width="3045" data-file-height="2005" />
                    <figcaption></figcaption>
                </figure>
                <p><b>Virusli gepatit</b> (<a href="/wiki/Ingliz_tili" title="Ingliz tili">inglizcha</a>: <i><span lang="en">Hepatitis B virus, HBV</span></i>, <a href="/wiki/Lotin_tili" title="Lotin tili">lotincha</a>: hepatitis) <a href="/wiki/Gepatit" title="Gepatit">gepatit</a> (jigar hujayralarining <a href="/wiki/Yallig%CA%BBlanish" title="YalligК»lanish">yalligК»lanishi</a>) keltirib chiqaradigan yuqumli kasalligi bo'lib, sariqlik va metabolik kasalliklar bilan birga keladi, ko'pincha surunkali gepatit va <a href="/wiki/Jigar_sirrozi" title="Jigar sirrozi">jigar sirroziga</a> olib keladi.
                </p>
                <p>1967-yilda kashf etilgan virus Gepatoviruslar guruhiga kiradi. Uning genomi 2 ta <a href="/wiki/DNK" class="mw-redirect" title="DNK">DNK</a> zanjiridan iborat. Ichki - tashqi membranalar bilan bog'langan tashqi muhitga juda chidamli. Xona haroratida 3 oy davomida saqlanishi mumkin. Muzlatgichda 6 oy yashaydi, 15-20 yil davomida muzlatilgan holda saqlanishi mumkin.
                </p>
                <meta property="mw:PageProp/toc" />
                <h3><span class="mw-headline" id="Epidemiologiya.">Epidemiologiya.</span></h3>
                <p>HBV ning tarqalishi juda keng. Infeksion manbasi turli xil klinik kasalliklarga chalingan odam va surunkali tashuvchilar. Zarar mexanizmi:
                </p>
                <p>1. parenteral;
                </p>
                <p>2. qon.
                </p>
                <h3><span class="mw-headline" id="Yuqtirish_usullari.">Yuqtirish usullari.</span></h3>
                <p>Tabiiy va sun'iy.
                </p>
                <h4><span id="Sun.27iy_yo.27llar:"></span><span class="mw-headline" id="Sun'iy_yo'llar:">Sun'iy yo'llar:</span></h4>
                <p>Teri va shilliq pardalarga zarar etkazadigan manipulyatsiyalar (operatsiyalar, in'ektsiyalar, endoskopik tekshiruvlar, manipulyatsiyalar, pedikyuralar, tatuirovkalar).
                </p>
                <h4><span class="mw-headline" id="Tabiiy_usulda:">Tabiiy usulda:</span></h4>
                <p>Shikastlangan teri qatlamlari orqali. Transmissiya omillari:
                </p>
                <p>1. qon;
                </p>
                <p>2. plazma;
                </p>
                <p>3. eritrotsitlar;
                </p>
                <p>4. fibrinogen;
                </p>
                <p>5. protrombin.
                </p>
                <h4><span id="Shuningdek.2C_u_ichki_aloqa_orqali_ham_uzatiladi:"></span><span class="mw-headline" id="Shuningdek,_u_ichki_aloqa_orqali_ham_uzatiladi:">Shuningdek, u ichki aloqa orqali ham uzatiladi:</span></h4>
                <p>uy-ro'zg'or buyumlari,tish cho'tkalari,ustara va boshqalar. HBV bilan kasallanish ehtimoli juda yuqori.INFEKTSION bilan kasallanish OITSga qaraganda 100 baravar yuqori. HBV 12 yoshgacha bo'lgan bolalar va 30 yoshdan oshgan odamlarga ta'sir qiladi.Kasallikdan keyin immunitet uzoq vaqt davomida shakllanadi.
                </p>
                <h3><span class="mw-headline" id="Klinika.">Klinika.</span></h3>
                <p>HBV virusi jigar parenximasini, ya'ni gepatotsitlarni zararlaydi.
                </p>
                <p>1. sariqlik;
                </p>
                <p>2. sariqliksiz;
                </p>
                <p>3. klinik ko'rinishsiz:
                    a)subklinik; b)virus yuqishi. Og'irligi: engil,o'rta,og'ir. Yashirin muddati 40-180 kungacha. Sariqlikdan oldingi davr 1-2 haftagacha davom etadi. Ba'zan hatto uzoqroq. Quyidagi sindromlar mumkin:
                </p>
                <p>- artralgik - ko'pincha xarakterli;
                </p>
                <p>- dispeptik;
                </p>
                <p>- astenovegetativ;
                </p>
                <p>- qo'ziqorin shaklida;
                </p>
                <p>- aralashgan;
                </p>
                <p>- kam uchraydigan yashirin davr.
                </p>
                <p>Kasallik asta-sekin boshlanadi.Ovqatdan keyin 2-5 kundan keyin zaiflik,letargiya,ishtahani yo'qotish,ko'ngil aynishi va qayt qilish.Qabziyat yoki diareya.O'ng devor ostida og'irlik va og'riq hissi mavjud.Artralgik sindrom:suyak va bo'g'imlarning og'rig'i va noqulaylik.Astenovegetativ sindrom:zaiflik, letargiya, bosh aylanishi, bosh og'rig'i, uyqusizlik. Sariqlikdan oldingi davr oxirida siydik qo'ng'ir rangga aylanadi va najas birinchi navbatda sklerada, keyin esa terida oq rangga aylanadi. Sariqlik davri 3-4-5 haftagacha va undan uzoq davom etishi mumkin. Intoksikatsiya belgilari kuchayadi. Sariqlik belgilari ham kuchayadi. Uyquning buzilishi, eyforiya, apatiya, asabiylashish kuzatiladi. Bradikardiya, gipotenziya, jigar va taloqning kengayishi xarakterlidir. Qonning umumiy tahlilida: leykopeniya, limfotsitoz, ESR ortishi. Obuna muddati 12 oy.
                </p>
                <h3><span class="mw-headline" id="Murakkabliklar.">Murakkabliklar.</span></h3>
                <p>1. O'tkir jigar ensefalopatiyasi (jigar komasi);
                </p>
                <p>2. Shish-astsit sindromi.
                </p>
                <h3><span class="mw-headline" id="Diagnostika.">Diagnostika.</span></h3>
                <p>1. sarumda maxsus markerlarni aniqlash uchun maxsus testlar qo'llaniladi;
                </p>
                <p>2. biokimyoviy testlar jigar funktsiyasi holatini ko'rsatadi;
                </p>
                <p>3. Hbs antigenlarini aniqlash.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}