{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'messages.html' %}

<section class="section mysection gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Loyiha haqida</h2>
                    <div class="divider mx-auto my-4"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <p>Loyihaning to'liq nomi: HBV infeksiyasidan kelib chiqadigan jigar serrrozi va gepatokarsinomani erta tashhislash intellektual tizimi</p>
                <p>Intellektual tizimining qisqa nomi: "HBV GEPATIT" ITT</p>

                <h3> ITT yaratish va joriy qilishdan asosiy maqsadlari quyidagilar:</h3>
                <li> virusli gepatit B bilan kasallangan bemorlarda jigar sirrozi rivojlanishini erta aniqlash hisobiga nogironlik muddatlarini/davomiyligini kamaytirish;</li>
                <li>jigar sirrozi rivojlanish xavfi bo'lgan bemorlarni erta dispanser nazoratigsa olish ko'rsatkichlarini oshirish;</li>
                <li>HBV hisobiga yuzaga keladigan jigar sirrozini tashxislash, nazorat qilish va davolash uchun ketadigan sarf xarajatlarni qisqartitish;</li>
                <li>gepatotsellular kartsinoma rivojlanish ehtimoli yuqori bo'lgan virusli gepatit B bilan kasallangan bemorlarga individual skrining dasturini joriy qilish orqali asorat rivojlanishini erta aniqlash va davolash;</li>
                <li>gepatotsellular kartsinomani erta tashxislash orqali davolash uchun ketadigan sarf xarajatlarni kamaytirish yoki butkul bartaraf etish;</li>
                <li>gepatolog va terapevtlar orasida ishlab chiqilgan matematik modeldan foydalanish ko'rsatkichlarini oshirish;</li>
                <li>klinik-diagnostika tadqiqotlarining aniqliq va informativligini oshirish;</li>
                <li>virusli gepatit B kasalligini va unung asoratlarini tashxislash va davolash jarayoni bilan bog'liq tahliliy va hisobot hujjatlarini tayyorlashda tibbiyot xodimlarining ish vaqtining narxini qisqartirish.</li>


            </div>
        </div>
    </div>
</section>

{% endblock %}