{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'messages.html' %}

<section class="section mysection gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Sirroz haqida</h2>
                    <div class="divider mx-auto my-4"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-justify">
                Жигар циррози (ЖЦ) ЖССТ томонидан берилган таърифга кўра - бу тарқалган жараён бўлиб, жигарнинг нормадаги тузилмаларининг фибрози ва трансформацияси билан таърифланади ҳамда регенерат тугунча пайдо бўлиши билан кечади. ЖЦ жигарнинг кўпчилик сурункали диффуз касалликларининг якуний босқичи хисобланади.<br>
                ЖЦ сурункали диффуз жигар касалликларининг кўпчилигининг якуний босқичини ифодалайди. Циррознинг табиий кечиши асимптоматик босқич (компенсацияланган цирроз) билан тавсифланади, бу портал тизимда босимнинг ошиши ва жигар функциясининг ёмонлашиши билан алмаштирилади, бу эса асоратлар кўринишидаги жигар циррози (декомпенсация босқичи) клиник кўринишнинг пайдо бўлишига олиб келади. Компенсация босқичида беморлар одатда яхши ҳаёт сифатига эга бўлиб, касаллик бир неча йил яширин бўлиши мумкин. Декомпенсация босқичи аниқ клиник белгиларнинг ривожланиши билан намоён бўлиб, шундан энг муҳимлари қуйидагилардан иборат:<br>
                • асцит (инфекциясиз ёки инфекция мавжуд асцит суюқлиги/СБП);<br>
                • қизилўнгач ва ошқозоннинг варикоз томирларидан қон кетиш (ҚваОВВК);<br>
                • жигар энцефалопатияси (ЖЭ);<br>
                • ўткир буйрак шикастланиши/дисфункцияси (ЎБШ) ва гепаторенал синдром (ГРС);<br>
                • ўпка асоратлари (жигар гидроторакси, гепатопулмонар синдром (ГПС), портопулмонар гипертензия (ППГ));<br>
                • циррозли кардиомиопатия ва иккиламчи буйрак усти бези этишмовчилиги;<br>
                • юқумли касалликлар асоратлар (спонтан бактериал перитонит (СБП), сийдик йўллари инфекцияси, пневмония, юмшоқ тўқималар инфекциялари ва бактериемия).<br> <br>
            </div>
        </div>
    </div>
</section>

{% endblock %}